#Servidor
PORT=3000

#Banco de Dados
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=medClinic-api
PG_USER=insira_seu_user_do_banco_de_dados_aqui
PG_PASSWORD=insira_sua_senha_do_banco_de_dados_aqui
PG_TIME_OUT_MS=30000

#Autenticação
JWT_SECRET=insira_sua_chave_secreta_aqui
JWT_EXPIRES_IN=1800