#Servidor
PORT=3000

#Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=medClinic-api
DB_USER=insira_seu_user_do_banco_de_dados_aqui
DB_PASSWORD=insira_sua_senha_do_banco_de_dados_aqui
DB_TIME_OUT_MS=30000

#Autenticação
JWT_SECRET=insira_sua_chave_secreta_aqui
JWT_EXPIRES_IN=1800